ol.sweet2  {
    list-style: none;
    counter-reset: my-awesome-counter;
}
ol.sweet2 li {
    counter-increment: my-awesome-counter;
}
ol.sweet2 li::before  {
    content: counter(my-awesome-counter) ". ";
    color: #ff0045;
    font-weight: bold;
}
.alert-danger, .alert-error, .bg-danger, .label-danger {
    background-color: #dc354561!important;
}
.alert-success, .bg-success, .label-success {
  background-color: #28a74559!important;
}