.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #007bff;
    text-align: center;
}

table.dataTable tbody tr.selected,
table.dataTable.display tbody tr.selected {
    background-color: #007bff6e;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(222, 234, 246);
}

.table-striped tbody tr:hover {
    background-color: #cafec2;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #569ee5;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    color: #007bff;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    background-color: #007bff6e;
    color: aliceblue;
}

.sorting_disabled {
    color: #569ee5;
}

div.dataTables_wrapper div.dataTables_processing {
    color: #007bff;
}

/* .btn-primary {
    color: #fff;
    background-color: #007bff7a;
    border-color: #007bff;
}

.btn-warning {
    color: #ffffff;
    background-color: #ffc10785;
    border-color: #ffc107;
}
.btn-success {
    color: #fff;
    background-color: #28a7456b;
    border-color: #28a745;
}

.btn-info {
    color: #fff;
    background-color: #13849680;
    border-color: #117a8b;
} */

.btn-default {
    font-size: 13px;
    color: rgba(108, 88, 179, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(108, 89, 179, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-default:hover {
    color: #fff;
    background: rgba(108, 88, 179, 0.75);
    border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    color: #fff;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
    font-size: 13px;
    color: rgba(103, 192, 103, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-success:hover {
    color: #fff;
}

.btn-info {
    font-size: 13px;
    color: rgba(91, 192, 222, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(91, 192, 222, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-info:hover {
    color: #fff;
    background: rgba(91, 192, 222, 0.75);
    border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
    font-size: 13px;
    color: rgba(240, 173, 78, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(240, 173, 78, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-warning:hover {
    color: #fff;
}

.btn-danger {
    font-size: 13px;
    color: rgba(217, 83, 78, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(217, 83, 78, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-danger:hover {
    color: #fff;
    background: rgba(217, 83, 78, 0.75);
    border: 2px solid rgba(217, 83, 78, 0.75);
}

.tb_display {
    display: block;
}

.tb_display_none {
    display: none;
}

input.error {
    border: 1px dotted red;
}

label.error {
    color: red;
    font-style: italic;
    margin-left: 10px;
}

.toast-top-right {
    margin-top: 150px;
    top: 12px;
    right: 12px;
}
.dropzone {
    border: 2px dashed rgb(180, 221, 214);
    border-radius: 5px;
    background-image: -webkit-linear-gradient(
        top,
        rgb(249, 254, 253),
        rgb(200, 246, 238)
    );
    padding: 5px;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
}

.dropzone .dz-preview .dz-image img {
    display: block;
    width: 120px;
    height: 120px;
}

.dropzone .dz-remove {
    display: inline-block !important;
    width: 1.2em;
    height: 1.2em;

    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;

    font-size: 1.2em !important;
    line-height: 1em;

    text-align: center;
    font-weight: bold;
    border: 1px solid gray !important;
    border-radius: 1.2em;
    color: red;
    background-color: white;
    opacity: 0.5;
}

.dropzone .dz-remove:hover {
    text-decoration: none !important;
    opacity: 1;
    color: red;
}

.daterangepicker {
    position: absolute;
    z-index: 30000 !important;
}

.custom-select {
    background: none;
}

.color-palette {
    padding: 0.5rem;
}

.panel-btn-add-line {
    margin-bottom: 10px;
}

.panel-btn-add-line button {
    position: relative;
    top: 4px;
}

.panel-btn-add-line span {
    position: relative;
    top: 4px;
    line-height: 2;
    font-weight: bold;
}

.item-optons button {
    position: relative;
    top: 4px;
}
#btnGenerate {
    background: white;
    border: 2px solid #007bff;
    color: #007bff;
    font-weight: bold;
}

#frmOptions button[type="submit"] {
    position: relative;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    color: #007bff;
    font-weight: bold;
    top: -4px;
}

#frmOptions button[type="submit"]:hover {
    background: white;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(2, 143, 253);
    font-weight: bold;
}

ul.nav-treeview li.nav-item {
    padding-left: 10px !important;
}

.attributes-table thead th {
    text-align: left !important;
}

.attributes-table tbody tr:nth-of-type(odd) {
    background: rgb(222, 234, 246);
}

.attributes-table td {
    border-bottom: 1px solid #569ee5;
}

.row-actions {
    position: relative;
    left: -9999em;
}

tr.alternate:hover .row-actions {
    position: static;
}

.row-actions span.delete,
.row-actions a.delete {
    color: #a00 !important;
}
.form-wrap {
    margin-bottom: 20px !important;
}

.form-wrap h2 {
    margin: 12px 0;
    font-size: 1.1em;
    color: #23282d;
    font-weight: 600;
}
.form-wrap p,
p.description,
p.help,
span.description {
    font-size: 13px;
    font-style: italic;
}
.form-wrap p,
p.description {
    margin: 2px 0 5px;
    color: #666;
}

.form-wrap input[type="checkbox"]:focus,
.form-wrap input[type="color"]:focus,
.form-wrap input[type="date"]:focus,
.form-wrap input[type="datetime-local"]:focus,
.form-wrap input[type="datetime"]:focus,
.form-wrap input[type="email"]:focus,
.form-wrap input[type="month"]:focus,
.form-wrap input[type="number"]:focus,
.form-wrap input[type="password"]:focus,
.form-wrap input[type="radio"]:focus,
.form-wrap input[type="search"]:focus,
.form-wrap input[type="tel"]:focus,
.form-wrap input[type="text"]:focus,
.form-wrap input[type="time"]:focus,
.form-wrap input[type="url"]:focus,
.form-wrap input[type="week"]:focus,
.form-wrap select:focus,
.form-wrap textarea:focus {
    border-color: #04a4cc;
    box-shadow: 0 0 0 1px #04a4cc;
}

.form-wrap .btn-primary {
    background: #0490b3;
    border-color: #0490b3;
    color: #fff;
}

.form-wrap .btn-primary:hover {
    color: #0490b3;
    border-color: #0490b3;
    background: #fff;
}

.dataTables_wrapper {
    margin: 5px;
}
table.dataTable tbody tr.selected, table.dataTable.display tbody tr.selected {
    background-color: #007bff6e !important;
}

#tbl_terms tbody tr:nth-of-type(odd) {
    background: rgb(222, 234, 246);
}

#tbl_terms tbody tr:hover {
    background: rgb(222, 234, 246);
}
#tbl_terms tbody tr:hover .row-actions {
    position: static;
}

#tbl_terms tr {
   text-align: center;
}

#tbl_terms .dt-checkboxes-cell {
    text-align: left !important;
}
#tbl_terms td, #tbl_terms th {
    border-top: none;
    border-bottom: 1px solid #569ee5;
}

.widefat thead td.check-column {
    padding: 11px 0 0 3px;
}
.widefat .check-column {
    width: 2.2em;
    padding: 6px 0 25px;
    vertical-align: top;
}
#product_type:focus {
    border-color: #007cba;
    color: #016087;
    box-shadow: 0 0 0 1px #007cba;
}

#product_type {
    font-size: 14px;
    line-height: 2;
    color: #32373c;
    border-color: #7e8993;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    cursor: pointer;
    vertical-align: middle;
}
#product_varible_tabs_content label {
    font-weight: 400;
}

#product_varible_tabs_content .input-group{
    margin-bottom: 1rem;
}

#product_varible_tabs_content  .form-group {
    margin-bottom: 0 !important;
}

#tbl_categories thead th {
    text-align: left;
}

#tbl_categories tbody tr:nth-of-type(odd) {
    background: rgb(222, 234, 246);
}

#tbl_categories tbody tr:hover {
    background: rgb(222, 234, 246);
}
#tbl_categories tbody tr:hover .row-actions {
    position: static;
}

table.dataTable tbody td img.wp_cat_thumb {
    position: relative;
    display: block;
    width: 52px !important;
    height: 52px !important;
    margin-top: 20px;
    text-align: center;
    white-space: nowrap;
}
#product_cat_thumbnail .button {
    border-color: #7e8993 !important;
    color: #32373c !important;
    background: #f3f5f6 !important;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 5px;
    white-space: nowrap;
    box-sizing: border-box;
}

#tbl_tags thead th {
    text-align: left;
}

#the-count {
    float: right;
}

.jWwadS {
    color: rgb(255, 255, 255);
    background-color: rgb(164, 40, 106);
    cursor: default;
    padding: 0px 8px;
    margin: 2px;
    border-radius: 17px;
}

#fb_image {
    margin-top: 10px;
    width: 128px;
    height: 128px;
    border: 1px #057bbe solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.components-panel__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.visibility-fieldset {
    padding: 10px;
}

.visibility-label {
    cursor: pointer;
    font-weight: 600;
}

.visibility-radio {
    border-radius: 50%;
    border: 2px solid #6c7781;
    margin-right: 12px;
    margin-top: 2px;
    transition: none;
    cursor: pointer;
    display: inline-block;
    height: 1rem;
    margin: -.25rem .25rem 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}

.visibility-radio:checked {
    background: #11a0d2;
    border-color: #11a0d2;
}

.visibility-radio:before {
    margin: 3px 0 0 3px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    content: "";
    border-radius: 50%;
    line-height: 1.14285714;
    float: left;
    display: inline-block;
    vertical-align: middle;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
}

.visibility-info {
    margin-top: 0;
    margin-left: 28px;
}
.tag-info {
    margin-top: 10px;
    margin-left: 28px;
}

.tag-input {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    padding: 4px;
    background-color: #fff;
    color: #32373c;
    cursor: text;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #7e8993;
    margin: 10px auto;
}

.categories_choice {
    margin: 10px;
}

ul.list_categories_choice {
    padding: 0 15px;
    list-style: none;
}

ul.list_categories_choice input{
    cursor: pointer;
}

ul.list_categories_choice label{
    margin-left: 10px;
    cursor: pointer;
}

/*Boostrap tags input custom */
.bootstrap-tagsinput {
    width: 100%;
}

.accordion {
    margin-bottom:-3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.bootstrap-tagsinput {
    max-width: 90% !important;
    margin: 0 10px !important;
}

.bootstrap-tagsinput .tag {
    border-radius: 5px !important;
    padding: 2px 5px !important;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "\f057" !important;
    font-family: "Font Awesome 5 Pro" !important;
    padding: 2px !important;
}

.tbl_date_info, .tbl_date_time{
    text-align: center;
}

#btnTrash {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #6c757d;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

.span-status {
    font-size: 12px;
    color: #555;
}

#tb_posts tbody tr:hover .row-actions {
    position: static;
}

#tb_posts td.dt-checkboxes-cell {
    text-align: center;
}

#tb_products tbody tr:hover .row-actions {
    position: static;
}

#tb_products td.dt-checkboxes-cell {
    padding-top: 50px;
    text-align: center;
}

select.attribute_taxonomy {
    font-size: 14px;
    line-height: 2;
    color: #32373c;
    border-color: #7e8993;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    cursor: pointer;
    vertical-align: middle;
}

select.attribute_taxonomy option:first {
    color: #999;
}

.button.add_attribute, .button.save_attributes, .button.addVariation, .button.saveVariation{
    background: #0490b3;
    border-color: #0490b3;
    color: #fff;
    box-shadow: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#attributes table {
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    padding: 1em;
    border-top: 1px solid #eee;
}

#attributes table td.attribute_name {
    width: 200px;
    padding: 1rem;
}

#attributes table td label {
    text-align: left;
    line-height: 21px;
}

#attributes table .tag-input {
    display: inline-block;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    padding: 4px;
    background-color: #fff;
    color: #32373c;
    cursor: text;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #7e8993;
    margin: 10px;
}

#attributes .toolbar-top {
    position: relative;
    display: block;
    margin: 10px auto;
    width: 70%;
}

 a.remove_row {
    color: red;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    position: relative;
}

#overlay{
    position: absolute;
    top: 0;
    z-index: 100;
    background: rgba(0,0,0,0.6);
    display: none;
    width: 99%;
    height: 100%;
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}
.is-hide{
    display:none;
}

a.thumbnail_variant_button {
    display: block;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

a.thumbnail_variant_button .fa-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 64px;
    font-size: 64px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a.thumbnail_variant_button img {
    width: 100%;
    height: auto;
    display: none;
}

#variations_table select {
    margin: 0 5px;
}
