body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Roboto", sans-serif;
}

body {
    font-weight: 0;
}
.carousel-cell {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.carousel-cell-news {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.flex-control-thumbs {
    display: flex;
    margin: 10px -5px 0 -5px;
}

.flex-control-thumbs li {
    list-style: none;
    width: 25%;
    padding: 0 5px;
    cursor: pointer;
}

.flex-control-thumbs li img {
    opacity: 1;
    width: 100px;
    height: 100px;
}

.flex-control-thumbs li::before {
    content: "";
}

.wishlist_table .add_to_cart,
a.add_to_wishlist.button.alt {
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.page-loader {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
    background-color: #ffffff;
}

.loading-site .page-loader {
    opacity: 0.98;
}

.page-loader-logo {
    max-width: px;
    animation: pageLoadZoom 1.3s ease-out;
    -webkit-animation: pageLoadZoom 1.3s ease-out;
}

.page-loader-spin {
    animation: pageLoadZoomSpin 1.3s ease-out;
}

.page-loader-spin .loading-spin {
    width: 40px;
    height: 40px;
}

@keyframes pageLoadZoom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pageLoadZoomSpin {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slider-nav-light .flickity-page-dots .dot.is-selected {
    background-color: #fff;
    display: none;
}

a.item_cart {
    color: #3f9ced;
}

a.item_cart:hover {
    color: #63ffc5;
}
.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}

:root {
    --primary-color: #a9d7d2;
}

.header-main {
    height: 82px;
}

#logo img {
    max-height: 82px;
}

#logo {
    width: 200px;
}

#logo img {
    padding: 10px 0;
}

.header-bottom {
    min-height: 55px;
}

.header-top {
    min-height: 30px;
}

.has-transparent + .page-title:first-of-type,
.has-transparent + #main > .page-title,
.has-transparent + #main > div > .page-title,
.has-transparent + #main .page-header-wrapper:first-of-type .page-title {
    padding-top: 82px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important;
}

.stuck #logo img {
    max-height: 70px !important;
}

.search-form {
    width: 10%;
}

.header-bg-color,
.header-wrapper {
    background-color: #000000;
}

.header-bottom {
    background-color: #f1f1f1;
}

.header-main .nav > li > a {
    line-height: 16px;
}

.stuck .header-main .nav > li > a {
    line-height: 50px;
}

.header-bottom-nav > li > a {
    line-height: 16px;
}

@media (max-width: 549px) {
    .header-main {
        height: 70px;
    }

    #logo img {
        max-height: 70px;
    }
}

.nav-dropdown-has-arrow li.has-dropdown:before {
    border-bottom-color: #ffffff;
}

.nav .nav-dropdown {
    border-color: #ffffff;
}

.nav-dropdown {
    border-radius: 15px;
}

.nav-dropdown {
    font-size: 80%;
}

.nav-dropdown-has-arrow li.has-dropdown:after {
    border-bottom-color: #ffffff;
}

.nav .nav-dropdown {
    background-color: #ffffff;
}

.header-top {
    background-color: #000000 !important;
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline > li.active > a,
.nav-outline > li.active > a,
.cart-icon strong,
[data-color="primary"],
.is-outline.primary {
    color: #a9d7d2;
}

/* Color !important */
[data-text-color="primary"] {
    color: #a9d7d2 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #a9d7d2;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item > a:after,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold > li > a:hover,
.nav-dropdown-bold.dark .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold.dark > li > a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type="submit"]:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box > li > a:hover,
.nav-box > li.active > a,
.nav-pills > li.active > a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom > li > a:before,
.nav-line-grow > li > a:before,
.nav-line > li > a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type="submit"].primary,
input[type="submit"].primary,
input[type="reset"].button,
input[type="button"].primary,
.badge-inner {
    background-color: #a9d7d2;
}

/* Border */
.nav-vertical.nav-tabs > li.active > a,
.scroll-to-bullets a.active,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #a9d7d2;
}

.nav-tabs > li.active > a {
    border-top-color: #a9d7d2;
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #a9d7d2;
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #a9d7d2;
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #a9d7d2;
}

.success.is-underline:hover,
.success.is-outline:hover,
.success {
    background-color: #cbf0cb;
}

.success-color,
.success.is-link,
.success.is-outline {
    color: #bae79c;
}

.success-border {
    border-color: #bae79c !important;
}

/* Color !important */
[data-text-color="success"] {
    color: #bae79c !important;
}

/* Background Color */
[data-text-bg="success"] {
    background-color: #bae79c;
}

.nav > li > a {
    font-family: "Roboto", sans-serif;
}

.nav > li > a {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

.alt-font {
    font-family: "Roboto", sans-serif;
}

.alt-font {
    font-weight: 0 !important;
}

.header:not(.transparent) .header-nav.nav > li > a {
    color: #ffffff;
}

.products.has-equal-box-heights .box-image {
    padding-top: 130%;
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 300px !important;
        width: 300px !important;
    }
}

.footer-2 {
    background-color: #777777;
}

.absolute-footer,
html {
    background-color: #000000;
}

button[name="update_cart"] {
    display: none;
}

.label-new.menu-item > a:after {
    content: "New";
}

.label-hot.menu-item > a:after {
    content: "Hot";
}

.label-sale.menu-item > a:after {
    content: "Sale";
}

.label-popular.menu-item > a:after {
    content: "Popular";
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    background-color: #fff2e6;
    color: grey;
    border: 0.5px solid orange;
    height: 2rem;
    width: 100%;
    margin: 6px;
    padding: 3px;
    box-sizing: content-box;
}

ol.sweet2 {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: red;
    font-weight: bold;
}

.toast-top-right {
    margin-top: 150px;
    top: 12px;
    right: 12px;
}

.pagination > li > span,
.pagination > li > a {
    font-size: 1.1em;
    display: block;
    height: 2.25em;
    line-height: 2em;
    text-align: center;
    width: auto;
    min-width: 2.25em;
    padding: 0 7px;
    font-weight: bolder;
    border-radius: 99px;
    border: 2px solid currentColor;
    transition: all 0.3s;
}
.pagination > li i {
    font-size: 1.2em;
    vertical-align: middle;
    top: -1px;
}

.pagination > li.disabled {
    display: none;
}

.pagination > li > span.page-link {
    border-color: #777;
    background-color: #fff;
    color: #777;
}

.pagination > li a.page-link {
    font-size: 1.2em;
    vertical-align: middle;
    top: -1px;
    border-color: #777;
    background-color: #fff;
    color: #777;
}

.pagination > li a.page-link:hover,
.pagination > li.active span.page-link {
    font-size: 1.2em;
    vertical-align: middle;
    top: -1px;
    border-color: rgb(169, 215, 210);
    background-color: rgb(169, 215, 210);
    color: #fff;
}

.pagination > ul.links {
    margin: 5px 0;
    font-size: 0.85em;
}

.custom-sel a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    color: #546e7a;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    display: block;
}

.custom-sel a:hover {
    text-decoration: none;
    background-color: #edf0f2;
    color: #ffffff;
}

.custom-sel a.selected {
    background-color: transparent;
}

.custom-sel a.selected:hover {
    background-color: transparent;
    color: #546e7a;
}

.hidden {
    display: none;
}

.show-sel {
    background-color: #ffffff;
    box-shadow: -5px 0px 65px 0px rgba(0, 0, 0, 0.18);
}

.custom-sel {
    display: inline-block;
}

.nav>li>a>span {
    color: rgba(255,255,255,0.8);
}

.faq-tabbed-content>.nav>li>a>span {
    color: unset !important;
}

.faq-tabbed-content .nav-outline > li.active > a, .faq-tabbed-content .nav-outline > li.active > a {
    color: #a9d7d2 !important;
    border: unset !important;
}
.faq-tabbed-content .nav-outline>li>a {
    border: 0 !important;
    border-radius: unset !important;
}
